@import "../fonts.scss";
@import "../buttons.scss";
@import "../variables.scss";

//grid
.main-container-h1-text-contact{
    @include grid-lg;
    display: grid;
}

.container-h1-text-contact{
    grid-column: 3/ span 5;
}


.formulaire-first-container{
    @include grid-lg;
    display: grid;
}

.div-container-email-subject{
    display: grid;
    grid-column: 3/ span 8;
    width: 100%;
}

.main-container-contact{
    background-color: #f8faff;

}

.main-title-contact {
    font-size: 40px;
}

.name-label {
    font-family: $font-bold;
    font-size: 18px;
    margin-bottom: 8px;
}
.paraph-contact {
    font-family: $font-paragraph;
    font-size: 16px;
    color: #2a2a2a;
    margin-top: 16px;
    margin-bottom: 48px;
}

.div-secondary-container-contact{
    height: 925px;
}

.input-contact {
    margin: 0;
}

.object-input {
    height: 120px;
    background-color: #f8faff;
    border: solid 1px #9aa3bc;
    border-radius: 8px;
    font-family: $font-paragraph;
    outline: none;
}

.subject-input,
.email-input {
    height: 40px;
    background-color: #f8faff;
    border: solid 1px #9aa3bc;
    border-radius: 8px;
}
.email-input{
    margin-right: 16px;
}
.div-object-text{
    margin-top: 16px;
}

.div-button-send{
    display: flex;
    justify-content: flex-end;
}
.button-send{
    margin-top: 32px;
    @extend %button-base;
    font-family: $font-bold;
    font-size: 18px;
    color: #ffffff;
    background-color: #356cff;
    border: solid 2px #356cff;
    border-radius: 8px;
}