@font-face {
  font-family: "quicksand-bold";
  src: url("./fonts/Quicksand-Bold.woff2") format("woff2"),
    url("./fonts/Quicksand-Bold.woff") format("woff");
}

@font-face {
  font-family: "quicksand-regular";
  src: url("./fonts/Quicksand-Regular.woff2") format("woff2"),
    url("./fonts/Quicksand-Regular.woff") format("woff");
}

@font-face {
  font-family: "quicksand-light";
  src: url("./fonts/Quicksand-Light.woff2") format("woff2"),
    url("./fonts/Quicksand-Light.woff") format("woff");
}

@font-face {
  font-family: "notosans-regular";
  src: url("./fonts/NotoSans-Regular.woff2") format("woff2"),
  url("./fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "notosans-bold";
  src: url("./fonts/NotoSans-Bold.woff2") format("woff2"),
  url("./fonts/NotoSans-Bold.woff") format("woff");
}

$font-paragraph-bold: "notosans-bold";
$font-paragraph: "notosans-regular";
$font-regular: "quicksand-regular";
$font-bold: "quicksand-bold";
$font-light: "quicksand-light";

%title-bold {
  font-family: $font-bold;
  color: #0c142b;
}
